<div> 
  <h1>{{product_plan.name}}</h1>

  <p>${{format_currency product_plan.stripe_data "amount" "0"}} every {{product_plan.stripe_data.interval}}</p>

  <div class="add-to-cart-button-container">
    <button
      id="add-to-cart-button" 
      class="button button-red button-add-to-cart add-to-cart add-to-cart-button add-sub-button"
      data-product-title="{{fields.title}}"
      data-type="plan"
      data-aerostat-id="{{id}}"
      data-name="{{product_plan.name}}"
      data-id="{{product_plan.id}}"
      data-interval={{product_plan.stripe_data.interval}}
      data-price="{{product_plan.stripe_data.amount}}"
      data-has-no-shipments="{{fields.has_no_shipments}}"
      >
      <span>Add to Cart</span>
    </button>
  </div>
</div>
<script src="/assets/scripts/addToCartButton.bundle.js"></script>
<script src="/assets/scripts/aerocart_button.js"></script>
<script src="/assets/scripts/variation_selection.js"></script>