<div class="new-properties">
  <p>site_properties.name: {{site_properties.name}}</p>
</div>

<div> 
  <h1>product_title_missing: <span style="color:red;">[ {{product_title}} ]</span></h1>
  <h2>{{product_plan.name}}</h2>

  <p>${{format_currency product_plan.stripe_data "amount" "0"}} every {{product_plan.stripe_data.interval}}</p>

  <div>
    <label for="misc-data-example">Check to have items chopped</label>
    <input id="misc-data-example" type="checkbox" name="chopped">
  </div>

  <div class="add-to-cart-button-container">
    <button
      id="add-to-cart-button" 
      class="button button-red button-add-to-cart add-to-cart add-to-cart-button add-sub-button"
      data-product-title="{{fields.title}}"
      data-type="plan"
      data-aerostat-id="{{id}}"
      data-name="{{product_plan.name}}"
      data-id="{{product_plan.id}}"
      data-interval={{product_plan.stripe_data.interval}}
      data-price="{{product_plan.stripe_data.amount}}"
      data-has-no-shipments="{{fields.has_no_shipments}}"
      >
      <span>Add to Cart</span>
    </button>
  </div>
</div>
<script src="/assets/scripts/addToCartButton.bundle.js"></script>
<script src="/assets/scripts/variation_selection.js"></script>