/* NAV CART COUNTER & NOTIFICATION */
@media only screen and (min-width: 1024px){
  #nav-cart-counter{
    position: relative;
  }
}

.nav-cart-link{
  color: #4A4A4A; /* THEME */
  text-decoration: none;
}

.nav-cart-counter-notification{
  display: none;
}

@media only screen and (min-width: 1024px){
  .nav-cart-counter-notification{
    position: absolute;
    display: block;
    opacity: 1;
    height: auto;
    right: 0;
    z-index: 100;
    top: 52px; /* THEME */
  }
}

.nav-cart-counter-notification.nav-cart-counter-hidden{
  opacity: 0;
  height: 0;
  display: none;
}

.nav-cart-counter-notification-text{
  display: block;
  min-width: 175px;
  max-width: 225px;

  padding: 0.5rem; /* THEME */
  background-color: #4A4A4A; /* THEME */
  color: #F5F5F5; /* THEME */
  font-size: 13px; /* THEME */
  line-height: 16px; /* THEME */
}