.login-status-hidden{
  display: none;
}

#nav-login-status{
  cursor: pointer;
}

@media only screen and (min-width: 1024px){
  #nav-login-status{
    position: relative;
  }
}

@media only screen and (min-width: 1024px){
  .nav-login-status-logout{
    background-color: #FFFFFF;
    text-align: right;
    padding: .5rem 1rem;
  }
}

.nav-login-status-dropdown{
  list-style: none;
  margin: 0;
  display: none;
  width: 100%;
}

@media only screen and (min-width: 1024px){
  .nav-login-status-dropdown{
    position: absolute;
    right: 0;
  }
}

.nav-login-status-logged-in:hover .nav-login-status-dropdown{
  display: block;
}
