.login-status-hidden{
  display: none;
}

#nav-login-status{
  display: inline-block;
  color: #ABABAB;
  background-color: #fff;
  border: 1px solid #BBBCBB;
  cursor: pointer;
  text-align: right;
  position: relative;
}

.nav-login-status-username,
.nav-login-status-signin,
.nav-login-status-logout{
  display: inline-block;
  padding: 0.5em;
  margin: 0;
}

#nav-login-status a{
  color: #ABABAB;
  text-decoration: none;
}

.nav-login-status-dropdown{
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
  border: 1px solid #BBBCBB;
  text-align: right;
  position: absolute;
  right: 0;
  background-color: #fff;
  width: 100%;
}

.nav-login-status-logged-in:hover .nav-login-status-dropdown{
  display: block;
}
