/* LOGIN STATUS */
@media only screen and (min-width: 1024px){
  #nav-login-status{
    position: relative;
  }
}

/* LOGIN STATUS DROPDOWN */
.nav-login-status-dropdown{
  list-style: none;
  margin: 0;
  display: block;
  width: 100%;
}

@media only screen and (min-width: 1024px){
  .nav-login-status-dropdown{
    position: absolute;
    right: 0;
    top: 24px; /* DEFAULT */
  }
}

.nav-login-status-logged-in:hover .nav-login-status-dropdown{
  display: block;
}

/* HIDE LOGIN STATUS ITEMS */
.login-status-hidden{
  display: none;
}

.nav-login-status-dropdown.login-status-hidden,
.nav-login-status-logged-in.login-status-hidden{
  display: none;
}

@media only screen and (min-width: 1024px){
  .nav-login-status-dropdown.login-status-hidden,
  .nav-login-status-logged-in.login-status-hidden{
    display: none;
  }
}